<footer class="footer">
    <a href="#header" class="button__up"><img src="assets/images/ico-arrow.svg" alt="" class="icon-arrow"></a>
    <div class="grid__footer">
        <ul class="nav__footer">
            <li><a href="#" class="link__footer">Articles</a></li>
            <li><a href="#" class="link__footer">Books</a></li>
            <li><a href="#" class="link__footer">Events</a></li>
            <li><a href="#" class="link__footer">Reason</a></li>
            <li><a href="#" class="link__footer">Tips</a></li>
        </ul>
        <ul class="social-networks">
            <li><a href="#" class="link__footer">Twitter</a></li>
            <li><a href="#" class="link__footer">Instagram</a></li>
            <li><a href="#" class="link__footer">Mastodon.social</a></li>
        </ul>
        <div class="copyright">
            <small class="copyright__year">© 2017 </small>
            <small class="copyright__sentence">we <span class="love">❤</span> components</small>
        </div>
    </div>
</footer>