<footer class="footer">

    <ul class="nav__footer">
        <li><a href="#" class="link__footer">Articles</a></li>
        <li><a href="#" class="link__footer">Books</a></li>
        <li><a href="#" class="link__footer">Events</a></li>
        <li><a href="#" class="link__footer">Reason</a></li>
        <li><a href="#" class="link__footer">Tips</a></li>
    </ul>

    <ul class="social-networks">
        <li><a href="#" class="link__footer">Twitter</a></li>
        <li><a href="#" class="link__footer">Instagram</a></li>
        <li><a href="#" class="link__footer">Mastodon.social</a></li>
    </ul>

    <small class="copyright">© 2017 <br> we <span class="love">❤</span> components</small>

</footer>