<main>
<h2 class="section__title">Insomnia tips</h2>
<h3 class="section__subtitle">Looking Through A Window</h3>
<p class="section__content">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
<button href="" class="button__go">Go</button>

<section class="section__reason">

    <h2 class="reason__title">3 Reasons to purchase</h2>

    <div class="reason1">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </div>

    <div class="reason2">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
    </div>

    <div class="reason3">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
    </div>

    <button href="#" class="button__reason">More reasons</button>
    
</section>

<a href="./" class="button__up"></a>
</main>