.footer{
    background-color: $color-backgroundTerciary;
    color: $color-textPrimary;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;

    @media all and (min-width:768px){
        height: 240px;
        text-align: left;
    }
}

.button__up{
    display: block;
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: $color-backgroundPrimary;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: 45px;
    width: 45px;
    animation-name: arrow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    @keyframes arrow{
        from{
            background-color: $color-backgroundPrimary;
            /*transform: rotateY(0deg);*/
        }
        to{
            background-color: lightgrey;
           /* transform: rotateY(180deg);*/
        }
    }
}

.icon-arrow{
    height: 35px;
    width: 35px;
    transform: translate(0px,5px);

    @media all and(min-width:768px){
        transform: translate(5px,5px);
    }

    @media all and(min-width:1200px){
        transform: translate(5px,5px);
    }
} 

.link__footer{
    text-decoration: none;
    color: $color-textPrimary;
    transition: text-decoration linear .5s;

    &:hover{
        text-decoration:underline;
    }
}

.nav__footer{
    height: 150px;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: auto;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media all and (min-width:768px){
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 45px;
    }
}

.social-networks{
    height: 86px;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media all and (min-width:768px){
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: 45px;
    }
}

.copyright{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width:768px){
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 45px;
        margin-left: 39px;
        align-items: flex-start;
    }
    @media all and (min-width:1200px){

    }
}

.love{
    color:$color-backgroundButton;
}