.footer{
    background-color: $color-backgroundTerciary;
    color: $color-textPrimary;
    text-align: center;
    height: 465px;

    @media all and (min-width:768px){
        height: 240px;
        text-align: left;
    }
}

.button__up{
    display: block;
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: $color-backgroundPrimary;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.icon-arrow{
    height: 35px;
    width: 35px;
    transform: translate(0px,6px);

    @media all and(min-width:768){

    }
} 

.link__footer{
    text-decoration: none;
    color: $color-textPrimary;
}

.nav__footer{
    height: 150px;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: auto;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media all and (min-width:768px){
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 45px;
    }
}

.social-networks{
    height: 86px;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media all and (min-width:768px){
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: 45px;
    }
}

.copyright{
    margin:auto;

    @media all and (min-width:768px){
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 45px;
    }
}

.love{
    color:$color-backgroundButton;
}