.header{
    height: 100vh;
    min-height: 568px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    @media all and (min-width:768px){
        height: 100vh;
        min-height: 768px
    }
}

.nav{
    height: 44px;
    width: 44px;
    border: none;
    background-color: #0271bc;
    background-image: url(../images/ico-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
}

.header__container{
    height: 100vh;
    min-height: 568px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width:768px){
        height: 100vh;
        min-height: 768px;
    }
}

.header__title{
    height: 110px;
    width: 290px;
    margin-top: 284px ;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    line-height: 55px;
    font-family: $fontFamily-title;
    font-size: 42px;

    @media all and (min-width:768px){
        width: 690px;
        height: 212px;
        font-size: 80px;
        line-height: 106px;
        margin-top: 384px ;
        margin-bottom: 20px;
    }

    @media all and (min-width:1200px){
        width: 730px;
        height: 264px;
        margin-bottom: 0;
        font-size: 100px;
        line-height: 132px;
    }
}

.claim{
    line-height: 20px;
    margin:0 auto;
    text-align: center;
    font-size: 14px;

    @media all and(min-width:768px){
        width: 360px;
        font-size:20px;
        line-height: 40px;
    }

    @media all and(min-width:1200px){
        font-size: 22px;
        line-height: 50px;
        width: 730px;
    }
}

.link__main{
    display: none;
    background-color: $color-backgroundPrimary;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin:45px auto 57px;

    @media all and(min-width:768px){
        display:block;
        margin: 30px auto 45px;
    }

    @media all and(min-width:1200px){
        margin-bottom: 13px;
    }
}

.scroll--down{
    display: block;
    height: 22px;
    width: 22px;
    position: relative;
    left: 11px;
    top: 11px;
}





