.section__title{
    height: 30px;
    margin:30px auto 0px 15px;
    font-size: 14px;
    line-height: 30px;
    color:#8ccbea;
}

.section__subtitle{
    margin: auto 15px 15px 15px;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    text-transform: capitalize;
}

.section__content{
    margin: 0px 15px 30px 15px;
    line-height: 30px;
    color: #4a4a4a;
}
.button__go{
    background-color: $color-backgroundPrimary;
    box-sizing: border-box;
    display: block;
    height: 45px;
    width: 76px;
    margin: 15px auto 45px 15px;
    padding: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 22.5px;
    border: 2px solid #f26002;
    color: #f26002;
    transition: background-color ease 1s;

    &:hover{
        background-color: #f26002;
        color: $color-textPrimary;
    }
}

.section__reason{
    background-color: $color-backgroundSecondary;
    color: $color-textSecondary;
    height: 624px;
}
/*
.reason__title{
    margin-top: 30px;
    margin-bottom: 45px;

    @media all and (min-width:768px){
    grid-area: title;
    text-align: center;
    margin: 30px 15px 45px 15px;
    font-size: 24px;
    }
}

.reason1{
   @media all and (min-width:768){
    grid-area: reason1;
    margin:0 auto;
   }
}

.reason2{
    @media all and (min-width:768px){
    grid-area: reason2;
    }
}

.reason3{
    @media all and (min-width:768px){
    grid-area: reason3;
    }
}

/*.button_reason{
    @media all and (min-width:768px){
    grid-area: button;
    }
}
/*
.button__up{
    background-image: url(../images/ico-arrow.svg);
    background-color: $color-backgroundPrimary;
    border: none;
    padding: auto;
}*/