$color-backgroundPrimary: #fff;
$color-backgroundSecondary: #eff9ff;
$color-backgroundTerciary: #304268;
$color-backgroundButton: #f26002;

$color-textPrimary:#fff;
$color-textSecondary: #000;
$color-textTerciary: #4a4a4a;

$fontFamily: 'Roboto';
$fontSize: 18px;

$lineHeight: 30px;
