$color-backgroundPrimary: #fff;
$color-backgroundSecondary: #eff9ff;
$color-backgroundTerciary: #304268;

$color-textPrimary:#fff;
$color-textSecondary: #000;
$color-textTerciary: #4a4a4a;

$fontFamily: 'roboto';
$fontSize: 18px;
